@media (min-width: 1000px)
    .advantages
        h2
            font-size: 45px
            line-height: 89px

        &__block
            display: grid
            grid-template-columns: repeat(4, 1fr) !important
            gap: 1rem
            grid-template-areas: "rocket headphones community history"
            & > div:nth-child(1)
                grid-area: headphones
            & > div:nth-child(2)
                grid-area: community
            & > div:nth-child(3)
                grid-area: rocket
            & > div:nth-child(4)
                grid-area: history
            div
                p
                    font-size: calc(14px + .5vw) !important
                    line-height: 40px !important
