@media (min-width: 640px)
    .cases__wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
@media (min-width: 980px)
    .cases
        // background: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%)
        // color: transparent
        // background-clip: text
        // -webkit-background-clip: text
        &__wrapper
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px
            &_section
                display: grid
                grid-template-columns: repeat(2, 1fr)
                align-items: center
                img
                    width: 100%
                    padding: 29px 17px 29px 26px
                &-promo
                    &--text
                        padding: 12px 33px 13px 33px
                        margin: 0 auto
                        h3, p
                            font-size: calc(2px + 1vw)
                    &--button
                        text-align: justify
                        margin: 12px 33px 13px 33px
