@media (min-width: 980px)
    .crmRequest
        &__wrapper
            width: calc(644px + 10vw)
            height: 565px
            position: relative
            display: grid
            grid-template-columns: repeat(2, 350px 1fr)
            &_img
                position: absolute
                width: calc(637px + 1vw)
                height: calc(789px + 1vw)
                left: calc(10% + 14vw)
                top: calc(-30% + 1vw)
                border-radius: 40%
