// Base adaptive-size container
$adaptive-unit-small: 1vw // 320–640px
$adaptive-unit-medium: 2vw // 640–980px
$adaptive-unit-large: 4vw // 980–1400px
$adaptive-unit-xlarge: 6vw // 1400–1600px
$adaptive-unit-xxlarge: 8vw // 1600px и больше

// Base adaptive-size font
$font-small: 0.8rem // 320–640px
$font-medium: 1rem // 640–980px
$font-large: 1.2rem // 980–1400px
$font-xlarge: 1.4rem // 1400–1600px
$font-xxlarge: 1.6rem // 1600px и больше

// Function for calculating adaptive values
@function adaptive-calc($value, $adaptive)
    @return calc(#{$value} + #{$adaptive})
// @function adaptive-calc($value, $size)
//     @return calc(#{$value} * #{$size} / 360px)

// base function
@mixin box-shadowBlur
    border: 2px dotted transparent
    background: linear-gradient(rgba(183, 126, 255, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box
    box-shadow: 0px 0px 10px 0px rgba(150, 98, 255, 1)

@mixin box-shadowBtn
    background: linear-gradient(rgba(30, 0, 68, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box

@mixin box-shadowNoBlur
    box-shadow: 0 1px 0 0 rgba(143, 221, 255, 1), -1px 0 0 0 rgba(56, 63, 236, 0.7), -1px -1px 0 0 rgba(56, 63, 236, 0.7), 1px 0px 0 0 rgba(35, 255, 255, 1)
    border: 0px solid

// base settings
body
    color: white
a
    text-decoration: none
    color: white
input
    &:focus
        border: 0px solid
input[type="text"],::-webkit-input-placeholder
    color: white
    outline: none
input[type="text"],::-moz-placeholder
    color: white
    outline: none

.overlay
    z-index: 2
    background-color: rgba(0,0,0, 1)
    transition: all 1s

@import './mobile/mobile'
@import './desktop/desktop'
