// base font
@font-face
    font-family: 'Play'
    src: url('./fonts/Play-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

// base function
@mixin box-shadowBlur
    border: 2px dotted transparent
    background: linear-gradient(rgba(183, 126, 255, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box
    box-shadow: 0px 0px 10px 0px rgba(150, 98, 255, 1)

@mixin box-shadowBtn
    background: linear-gradient(rgba(30, 0, 68, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box

@mixin box-shadowNoBlur
    box-shadow: 0 1px 0 0 rgba(143, 221, 255, 1), -1px 0 0 0 rgba(56, 63, 236, 0.7), -1px -1px 0 0 rgba(56, 63, 236, 0.7), 1px 0px 0 0 rgba(35, 255, 255, 1)
    border: 0px solid

// base settings
body
    color: white
    font-family: 'Play', sans-serif
a
    text-decoration: none
    color: white
input
    &:focus
        border: 0px solid
input[type="text"],::-webkit-input-placeholder
    color: white
    outline: none
input[type="text"],::-moz-placeholder
    color: white
    outline: none

.overlay
    z-index: 2
    background-color: rgba(0,0,0, 1)
    transition: all 1s

@import './mobile/mobile'
@import './desktop/desktop'
