body
    color: white
    // background-image: linear-gradient(to bottom, rgba(133, 117, 191), rgba(133, 117, 191), rgba(133, 117, 191))
    // padding: 10px
    // background: conic-gradient(from 180deg at 50% 50%, #61FFD0 0deg, #8161FF 70.5deg, #FD95FF 162.37deg, #95C0FF 233.62deg, #95D9FF 310.5deg, #61FFD0 360deg)
    // background: conic-gradient(from 180deg at 50% 50%, #D795FF 0deg, #8161FF 70.5deg, #9E95FF 162.37deg, #95C0FF 233.62deg, #95D9FF 310.5deg, #D795FF 360deg)
    // background: conic-gradient(from 180deg at 50% 50%, rgba(124, 242, 128, 0.14) 0deg, #E9DEFF 70.5deg, #1AC9C9 162.37deg, #3261BE 233.62deg, #E22089 310.5deg, rgba(124, 242, 128, 0.14) 360deg)
    // background: conic-gradient(from 180deg at 50% 50%, #61FFD0 0deg, #8161FF 70.5deg, #FD95FF 162.37deg, #95C0FF 233.62deg, #95D9FF 310.5deg, #61FFD0 360deg)
    // background: conic-gradient(from 180deg at 50% 50%, #61FFD0 0deg, #8161FF 70.5deg, #FD95FF 162.37deg, #95C0FF 233.62deg, #95D9FF 310.5deg, #61FFD0 360deg)

    .header_nav_promo
        background-image: linear-gradient(to top, rgba(129, 106, 186, 1), rgba(243, 229, 255, .5), rgba(133, 117, 191, 1))
    .promo
        padding-bottom: 75px
    .advantages
        background-image: linear-gradient(to bottom, rgba(129, 106, 186, 1), rgba(54, 49, 108, .9), rgba(50, 53, 106, .9))
    .partners
        background-image: linear-gradient(to top, rgba(129, 106, 186, 1), rgba(54, 49, 108, .9), rgba(50, 53, 106, .9))
        padding: 75px 10px
    .formFeedback
        padding: 0 10px
        background-image: linear-gradient(to bottom, rgba(129, 106, 186, 1), rgba(168, 136, 211, .9))
    .usefully
        padding: 75px 10px
        background-image: linear-gradient(to top, rgba(129, 106, 186, 1), rgba(168, 136, 211, .9))
    .cases
        padding: 0px 10px
        background-image: linear-gradient(to bottom, rgba(129, 106, 186, 1), rgba(171, 112, 236, .8))
    .tariff
        padding: 75px 10px
        background-image: linear-gradient(to top, rgba(70, 54, 115, 1), rgba(171, 112, 236, .8))
        display: flex
        flex-direction: column
        gap: 20px
    .crmRequest
        padding: 0 10px
        background-image: linear-gradient(to bottom, rgba(70, 54, 115, 1), rgba(29, 26, 53, 1) rgba(37, 48, 102, .8))
    .partnerCrm
        padding: 75px 10px
        background-image: linear-gradient(to top, rgba(55, 64, 159, 1), rgba(29, 26, 53, 1) rgba(37, 48, 102, .8))
    .feedBackQuestion
        padding: 0px 10px
        background-image: linear-gradient(to bottom, rgba(55, 64, 159, 1), rgba(69, 69, 189, 1), rgba(84, 64, 197, .8), rgba(55, 64, 159, 1))
    .contacts
        padding: 75px 10px
        background-image: linear-gradient(240deg, rgba(55, 64, 159, 1), rgb(52, 42, 113, 1), rgba(31, 25, 61, 1), rgba(17, 16, 30, 1))

// base function
@mixin box-shadowBlur
    border: 2px dotted transparent
    background: linear-gradient(rgba(183, 126, 255, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box
    box-shadow: 0px 0px 10px 0px rgba(150, 98, 255, 1)

@mixin box-shadowBtn
    background: linear-gradient(rgba(30, 0, 68, 1) 0 0) padding-box, linear-gradient(93deg, #383FEC 49.3%, #23FFFF 87.76%) border-box, linear-gradient(0deg, #8FDDFF, #8FDDFF) border-box

@mixin box-shadowNoBlur
    box-shadow: 0 1px 0 0 rgba(143, 221, 255, 1), -1px 0 0 0 rgba(56, 63, 236, 0.7), -1px -1px 0 0 rgba(56, 63, 236, 0.7), 1px 0px 0 0 rgba(35, 255, 255, 1)
    border: 0px solid

// base settings
input[type="text"],::-webkit-input-placeholder
    color: white
    outline: none
input[type="text"],::-moz-placeholder
    color: white
    outline: none
h1
    font-size: 24px
h2
    font-size: 20px
h3
    font-size: 17px

@import 'base/media'
@import './header/header'
@import './header/nav'
@import './section/promo'
@import './section/advantages'
@import './section/partners'
@import './section/formFeedback'
@import './section/usefully'
@import './section/cases'
@import './section/tariff'
@import './section/crmRequest'
@import './section/partnerCrm'
@import './section/feedBackQuestion'
@import './section/contacts'
