.partners
    display: grid
    grid-template-columns: repeat(1, 1fr)
    gap: 20px
    height: auto
    &__wrapper
        display: grid
        grid-template-columns: repeat(2, minmax(150px, 1fr))
        border-top: 1px solid transparent
        border-image-source: linear-gradient(147.77deg, #9400FF 14.56%, rgba(198, 79, 135, 0.83) 86.63%)
        box-shadow: 0px 0px 20px 0px rgba(215, 149, 255, 1), 0px 0px 4px 0px rgba(215, 149, 255, 1)
        &_promo
            background: linear-gradient(230.07deg, #FFFFFF -50.81%, #0E9DDD 94.55%)
            &-logo
                display: block
                margin: auto
                width: calc(85px + 2vw)
                padding: 21px 0 17px 0 !important
            &-img
                position: relative
                display: flex
                justify-content: center
                height: calc(100px + 2vw) !important

        &_text
            background: rgba(72, 5, 114, 0.5)
            padding: 10px 10px 20px 10px
            &-gradient
                position: relative
                h6
                    background-image: linear-gradient(176.42deg, #B195FF -126.75%, #E9C6FF 97.05%)
                    color: transparent
                    background-clip: text
                    -webkit-background-clip: text
                    font-size: 16px
                    font-weight: 700
                    line-height: 20px
            &-promo
                display: flex
                gap: 10px
                div
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 20px
                    height: 20px
                    border-radius: 100%
                    background: rgba(82, 67, 194, 0.15)
