.promo
    padding: 75px 10px
.advantages
    padding: 0px 10px
.partners__img
    display: none
.partners
    padding: 75px 10px
.formFeedback
    padding: 0 10px
.usefully
    padding: 75px 10px
.cases
    padding: 0px 10px
.tariff
    padding: 75px 10px
    display: flex
    flex-direction: column
    gap: 20px
.crmRequest
    padding: 0 10px
.partnerCrm
    padding: 75px 10px
.feedBackQuestion
    padding: 0px 10px
.contacts
    padding: 75px 10px

//base
body
    background: url('../img/backgroundGradient_mob.png') no-repeat center center
    background-size: cover
h1, h2, h3
    font-weight: 700px
h1
    font-size: 24px
h2
    font-size: 20px
h3
    font-size: 17px
@import './modal/application'
@import './header/header'
@import './section/promo'
@import './section/advantages'
@import './section/partners'
@import './section/formFeedback'
@import './section/usefully'
@import './section/cases'
@import './section/tariff'
@import './section/crmRequest'
@import './section/partnerCrm'
@import './section/feedBackQuestion'
@import './footer/contacts'
