.header__info
    padding: 10px
    a
        text-decoration: none
        color: white
        font-size: 11px
        font-weight: 200
        line-height: 13.31px

.header__nav
    width: 100%
    position: relative
    display: flex
    padding: 10px 0
    &_searchBlock
        &-search
            width: 281px
            height: 25px
            top: 10px
            padding: 15px
            border-radius: 420px
            border: 1px solid transparent
            background: url('../img/icons/search.svg') no-repeat right center, linear-gradient(180deg, rgb(114, 99, 166) 0%, rgb(114, 99, 166) 100%) padding-box, linear-gradient(266.77deg, #FFFFFF -11.99%, #9E95FF 42.41%, #FFFFFF 91.84%) border-box
            background-position: 5% center
