@media (min-width: 980px)
    .promo
        padding: 120px 100px
    .advantages
        padding: 120px 100px
    .partners_formFeedback
        position: relative
    .partners__img
        position: absolute
        display: block
        width: 100%
        height: calc(2307.56px - 1vw)
        top: 0
        transform: translateY(calc(-200px))
    .partners
        position: relative
        background: none
        padding: 120px 100px
    .formFeedback
        position: relative
        padding: 0 100px
        z-index: 2
        background: none
    .usefully
        padding: 120px 100px
    .cases
        padding: 0 100px
    .tariff
        padding: 120px 100px
        display: flex
        flex-direction: column
        gap: 20px
    .crmRequest
        padding: 0 100px
    .partnerCrm
        padding: 120px 100px
    .feedBackQuestion
        padding: 0px 100px
    .contacts
        padding: 120px 100px

    //base
    body
        background: url('../img/backgroundGradient_desk.png') no-repeat center center
        background-size: cover
    h1
        font-size: 45px
    h2
        font-size: 36px
    h3
        font-size: 27px
@import './header/header'
@import './section/promo'
@import './section/advantages'
@import './section/partners'
@import './section/formFeedback'
@import './section/usefully'
@import './section/cases'
@import './section/tariff'
@import './section/crmRequest'
@import './section/partnerCrm'
@import './section/feedBackQuestion'
@import './footer/contacts'
