.contacts
    h2
        text-align: center
        font-size: 32px
        font-weight: 700
        line-height: 37.02px
    h3
        font-size: 24px
        font-weight: 400
        line-height: 27.77px
        padding: 25px 27px 59px 16px
    &__wrapper
        position: relative
        border-radius: 10px
        background: linear-gradient(rgb(103, 75, 150) 0 0) padding-box, linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%) border-box
        border: 2px solid transparent
        overflow: hidden
        box-shadow: 0px 0px 20px 0px rgba(215, 149, 255, 1), 0px 0px 30px 0px rgba(215, 149, 255, 1)
    &__footer
        &_logo
            margin: 57px 0 38.29px 0
        p
            margin: 21px 0 75px 0
